/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.mobile-show{
    display: static;
    @include md{
        display: none;
    }
}
.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}
.content-spacing{
    padding-top: 38px;
    padding-left: 40px;
    padding-bottom: 38px;
    @include md{
        padding: 40px 106px;
    }
    @include lg{
        padding: 55px 8%;
        margin-left: 22px;
    }
    @include xl{
        padding: 55px 10%;
        margin-left: 20px;
    }
}
.xl-grid{
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". lg .";               
    }
}