/* =============
    Typography
============= */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(22);
    line-height: rem-calc(25);
    font-weight: 700;
    color: $cream;
    >span{
        font-weight: 200;
    }
}
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;