/* =============
    Typography
============= */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(22);
    line-height: rem-calc(25);
    font-weight: 700;
    color: $cream;
    font-style: italic;
    >span{
        font-weight: 200;
    }
    @include md{
        font-size: rem-calc(25);
        line-height: rem-calc(29);
    }
}
#nav-container{
    li{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(18);
        font-weight: 500;
    }
}
#section-2{
    h2{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(25);
        line-height: rem-calc(33);
        font-weight: 700;
        color: $cream;
        @include md{
            font-size: rem-calc(33);
            line-height: rem-calc(42);
        }
        @include lg{
            font-size: rem-calc(36);
            line-height: rem-calc(52);
        }
        @include xl{
            font-size: rem-calc(42);
            line-height: rem-calc(52);
        }
    }
    p{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(16);
        line-height: rem-calc(22);
        font-weight: 400;
        >span{
            font-weight: 700;
        }
    }
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(40);
    line-height: rem-calc(33);
    font-weight: 800;
    >span{
        font-weight: 300;
    }
    @include md{
        font-size: rem-calc(53);
        line-height: rem-calc(42);
    }
    @include lg{
        font-size: rem-calc(72);
        line-height: rem-calc(64);
    }
}
#section-3-intro{
    >h2{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(38);
        line-height: rem-calc(38);
        font-weight: 700;
        @include md{
            font-size: rem-calc(50);
        line-height: rem-calc(45);
        }
        @include lg{
            font-size: rem-calc(72);
            line-height: rem-calc(70);
        }
    }
}
#section-3-content1{
    p{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(18);
        line-height: rem-calc(26);
        font-weight: 600;
        color: $cream;
        @include md{
            color: $greenbrown;
            line-height: rem-calc(29);
        }
    }
    
}
.section-3-mission{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    font-weight: 400;
    color: $greenbrown;
    
    .title{
        font-size: rem-calc(16);
        font-weight: 700;
        font-style: italic;
        @include md{
            color: $veryyellow;
        }
    }
    .bold{
        font-weight: 600;
    }
}
#section-3-content4{
    h2{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(22);
        line-height: rem-calc(27);
        font-weight: 600;
        font-style: italic;
        color: $blue;
        @include md{
            font-size: rem-calc(20);
        }
        @include lg{
            font-size: rem-calc(23);
        }
    }
    p{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(16);
        line-height: rem-calc(22);
        font-weight: 300;
        color: $greenbrown;
    }
}
#caption{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(16);
    line-height: rem-calc(20);
    font-weight: 300;
    font-style: italic;
    color: $cream;
    .bold{
        font-style: normal;
        font-weight: 600;
    }
}
#description{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    font-weight: 400;
    color: $cream;
}
#section-5-container{
    >section{
        color: $lightgreen;
        h2{
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(18);
            font-style: italic;
            font-weight: 800;
            @include md{
                font-size: rem-calc(25);
            }
        }
        p{
            font-family: 'Raleway', sans-serif;
            font-size: rem-calc(16);
            line-height: rem-calc(22);
            font-weight: 400;
            @include md{
                font-size: rem-calc(18);
                line-height: rem-calc(24);
            }
        }
    } 
}
#section-6-container{
    p{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(16);
        line-height: rem-calc(22);
        font-weight: 300;
        color: $lightgreen;
        .bold{
            font-weight: 600;
            font-style: italic;
        }
    }
}
.button{
    font-family: 'Raleway', sans-serif;
    font-size: rem-calc(24);
    line-height: rem-calc(29);
    font-weight: 600;
}
#section-7{
    h5{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(16);
        font-weight: 600;
        color: $veryyellow;
    }
    h4{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(24);
        font-weight: 600;
        color: $cream;
    }
}
footer{
    h5, li{
        font-family: 'Raleway', sans-serif;
        font-size: rem-calc(16);
        font-weight: 300;
        color: $cream;
    }
}
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;