/* =============
    Section 1
============= */
#section-1{
    background-image: url('../img/section1/hero1.jpg');
    background-position: center;
    background-position: -120px 0;
    background-size: cover;
    height: 400px;

}
