/* =============
    Section 5
============= */
#section-5{
    background-color: $cream;
    #section-5-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        "c1 c1 c1"
        ". c2 .";
        >section{
            grid-area: c2;
            text-align: center;
            h2{
                margin-top: 24px;
            }
            p{
                margin: 10px 10px 30px;
            }
        }
    }
    #section-5-content1{
        grid-area: c1;
        background-image: url('../img/section5/hero5.jpg');
        background-position: center;
        background-size: cover;
        background-size: 130%;
        height: 200px;
        h1{
            padding-left:40px;
        }
    }
    
}