/* =============
    Section 2
============= */
#section-2 {
    background-color: $cream;

    @include md {
        background-image: url('../img/section2/hero2.jpg');
        background-position: -100px -370px;
        background-size: 180%;
        height: auto;
    }

    @include xl {
        background-position: 0 -350px;
        background-size: 120%;
    }

    #section-2-container {
        display: grid;
        grid-template-areas: "h1 h1 h1"
            "c1 c1 c1"
            "i1 i1 i1"
            ". a2 ."
            ". i2 ."
            ". i3 .";
        grid-template-columns: 3% auto 3%;

        @include md {
            column-gap: 22px;
            grid-template-areas: "c1 c1"
                "i3 a2"
                "i1 a2"
                "i1 i2";
            grid-template-columns: 50% auto;
            padding-bottom: 40px;
        }

        @include lg {
            column-gap: 20px;
            grid-template-areas: ". c1 c1 c1 c1 ."
                ". i1 i1 a2 a2 ."
                "rec3 rec3 rec3 a2 a2 ."
                "rec3 rec3 rec3 i2 i3 .";
            grid-template-columns: 8% repeat(4, 1fr) 8%;
        }

        @include xl {
            grid-template-columns: auto repeat(4, 275px) auto;
        }

        h1 {
            margin: 0;
        }

        aside {
            background-position: center;
            background-size: cover;
        }

        #section-2-img1 {
            background-image: url('../img/section2/about-1.jpg');
            grid-area: i1;
            height: 330px;

            @include md {
                height: 390px;
                margin-left: 3%;
            }

            @include lg {
                margin: 0;
            }
        }

        #section-2-img2 {
            background-image: url('../img/section2/about-2.jpg');
            grid-area: i2;
            height: 170px;
            margin-bottom: 15px;

            @include md {
                height: 200px;
                margin-bottom: 0;
                margin-right: 3%;
            }

            @include lg {
                height: 213px;
                margin: unset;
            }
        }

        #section-2-img3 {
            background-image: url('../img/section2/about-3.jpg');
            background-position: -100px -140px;
            background-size: 200%;
            grid-area: i3;
            height: 170px;
            margin-bottom: 26px;

            @include md {
                background-position: -100px -60px;
                background-size: 150%;
                height: 290px;
                margin-left: 3%;
            }

            @include lg {
                background-position: center;
                background-size: cover;
                height: 213px;
                margin: unset;
            }
        }

        #section-2-content1 {
            background-image: url('../img/section2/hero2.jpg');
            background-position: top center;
            background-size: cover;
            grid-area: c1;
            height: auto;

            @include md {
                background-image: none;
            }

            @include xl {
                display: grid;
                grid-template-areas: ". h1 ."
                    " rec1 rec1 rec1"
                    ". a1 .";
                grid-template-columns: 3% auto 3%;
                width: 100%;
            }

            h1 {
                @include lg {
                    padding: 55px 0;
                }

                @include xl {
                    grid-area: h1;
                }
            }

            #section-2-article1 {
                position: relative;

                @include md {
                    column-gap: 22px;
                    display: grid;
                    grid-template-areas: "h2 h2"
                        ". date"
                        ". rec2"
                        "p .";
                    grid-template-columns: 50% auto;
                }

                @include lg {
                    column-gap: 20px;
                    grid-template-columns: 49% auto;
                }

                @include xl {
                    grid-area: a1;
                }

                h2 {
                    grid-area: h2;
                    padding: 38px 15px;

                    @include md {
                        padding: 40px 106px 10px;
                    }

                    @include lg {
                        padding: 55px 0 10px;
                    }
                }

                >p {
                    background-color: rgba(151, 143, 79, .49);
                    border-top: solid white 1px;
                    color: $cream;
                    padding: 23px 25px 23px 15px;

                    @include md {
                        background-color: unset;
                        border: unset;
                        grid-area: p;
                        padding: 0 0 22px 106px;
                    }

                    @include lg {
                        padding: 0 0 60px;
                        width: 80%;
                    }
                }

                #date {
                    display: flex;
                    grid-area: date;
                    justify-content: flex-end;
                    padding-right: 15px;
                    z-index: 1;

                    h3 {
                        bottom: 140px;
                        color: $cream;
                        position: absolute;
                        text-align: right;
                    }

                    @include md {
                        padding-right: 106px;

                        h3 {
                            bottom: 103px;
                        }
                    }

                    @include lg {
                        padding: 0px;

                        h3 {
                            bottom: 0px;
                        }
                    }

                    @include xl {
                        h3 {
                            bottom: -20px;
                        }
                    }
                }
            }

            #section-2-rectangle1 {
                background-color: rgba(255, 255, 255, .18);
                border: solid white 1px;
                height: 100px;
                margin: 0 40px;

                @include md {
                    height: 160px;
                    margin: auto;
                    width: 555px;
                }

                @include lg {
                    height: 278px;
                    margin: 0;
                    width: auto;
                }

                @include xl {
                    grid-area: rec1;
                    width: auto;
                }
            }

            #section-2-rectangle2 {
                background-color: rgba(151, 143, 79, .49);
                border: solid white 1px;
                border-right: none;
                grid-area: rec2;
                height: 300px;
                position: absolute;
                width: 100%;

                @include lg {
                    border-right: solid white 1px;
                    width: 82%;
                }

                @include xl {
                    width: 85%;
                }
            }
        }

        #section-2-rectangle3 {
            @include lg {
                background-color: rgba(255, 255, 255, .18);
                border: solid white 1px;
                border-left: unset;
                grid-area: rec3;
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    #section-2-article2 {
        grid-area: a2;

        >p {
            color: $greenbrown;
            padding: 23px 0;

            @include md {
                color: $cream;
                padding: 160px 60px 0 20px;
            }

            @include lg {
                padding: 180px 0 60px 15%;
            }

            @include xl {
                padding-right: 19%;
                padding-top: 200px;
            }
        }
    }
}