/* =============
    Section 3
============= */
#section-3{
    background-color: $cream;
    #section-3-container{
        display: grid;
        grid-template-columns: 3% auto 3%;
        grid-template-areas:
        "c1 c1 c1"
        ". c2 ."
        ". c3 ."
        ". c4 .";
        @include md{
            grid-template-areas:
            "c1 c1 c1"
            ". c2 ."
            ". c3 ."
            ". c4 c4";
        }
        @include lg{
            grid-template-columns: 8% repeat(2, 1fr) 8%;
            grid-template-areas: 
            "c1 c1 c1 c1"
            ". c2 c3 ."
            ". c4 c4 c4";
            grid-gap: 20px;
        }
    }
    #section-3-content1{
        position: relative;
        grid-area: c1;
        background-color: rgba($greenbrown, $alpha: 0.2);
        background-blend-mode: multiply;
        background-image: url('../img/section3/hero3.jpg');
        background-position: center;
        background-size: cover;
        height: auto;
        @include md{
            background-image: unset;
            background-color: unset;
        }
        .header{
            @include md{
                background-image: url('../img/section3/hero3.jpg');
                background-position: center;
                background-size: cover;
                height: 300px;
            }
            @include lg{
                height: 500px;
                background-position: 0 -90px;
            }
            h1{
                @include xl{
                grid-area: lg;
                }
            }
        }
        #section-3-intro{
            @include md{
                display: flex;
                justify-content: flex-end;
                margin-right: 3%;
            }
            @include lg{
                display: block;
            }
            @include xl{
                grid-area: lg;
            }
            h2{
                color: $yellow;
                padding-left: 40px;
                width: 60%;
                padding-top: 81px;
                @include md{
                    position: absolute;
                    text-align: right;
                    width: 250px;
                    bottom: 175px;
                }
                @include lg{
                    bottom: 60px;
                    text-align: left;
                    padding: 0;
                    width: 362px;
                }
                #let-our{
                    @include lg{
                        color: $cream;
                    }
                }
                #voices{
                    color: $cream;
                    @include lg{
                        color: $yellow;
                    }
                }
            }
        }
        
    }
    #section-3-intropara{
        @include lg{
            display: flex;
            justify-content: flex-end;
        }
        @include xl{
            grid-area: lg;
        }
        p{
            padding: 20px 15px 30px;
            text-align: right;
            @include md{
                text-align: left;
                padding: 46px 0 34px 48px;
                width: 66%;
            }
            @include lg{
                text-align: right;
                padding: 54px 86px 0 0;
                width: 522px;
            }
            
        }
    }
    aside{
        background-position: center;
        background-size: cover;
        height: 165px;
        @include md{
            height: auto;
        }
    }
    .title{
        padding-top: 22px;
        @include md{
            padding: 0;
        }
    }
    .missionbottom{
        @include lg{
            margin-top: 70px;
        }
    }
    #section-3-content2{
        grid-area: c2;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-rows: 195px auto;
            row-gap: 22px;
            grid-template-areas: 
            "t2 i1"
            "t2 i2";
        }
        @include lg{
            grid-template-rows: 260px auto;
            grid-template-areas: 
            "i1 t2"
            "i2 t2";
            column-gap: 20px;
        }
        p{
            @include md{
                margin: 22px 0;
            }
        }
        #section-3-img1{
            background-image: url('../img/section3/mission-1.jpg');
            @include md{
                grid-area: i1;
            }
        }
        #section-3-img2{
            background-image: url('../img/section3/mission-3.jpg');
            margin: 20px 0 15px;
            @include md{
                margin: 0 0 22px 0;
                grid-area: i2;
            }
            @include lg{
                margin: 0;
            }
        }
        #section-3-t2{
            @include md{
                margin-right: 22px;
                text-align: right;
                grid-area: t2;
            }
            @include lg{
                text-align: left;
                margin-right: 0;
            }
        }
    }
    #section-3-content3{
        grid-area: c3;
        @include md{
            display: grid;
            grid-gap: 22px;
            grid-template-columns: 50% auto;
            grid-template-rows: 216px auto;
            grid-template-areas: 
            "i3 t3 "
            "i4 t3";
        }
        @include lg{
            grid-template-rows: 310px auto;
        }
        p{
            @include md{
                margin: 22px 0;
            }
        }
        #section-3-img3{
            background-image: url('../img/section3/mission-2.jpg');
            @include md{
                margin-right: 22px;
                grid-area: i3;
            }
            @include lg{
                margin: 0;
            }
        }
        #section-3-img4{
            background-image: url('../img/section3/mission-4.jpeg');
            @include md{
                margin-right: 22px;
                background-position: top;
                grid-area: i4;
            }
            @include lg{
                margin: 0;
            }
        }
        #section-3-t3{
            @include md{
                grid-area: t3;
            }
        }
    }
    #section-3-content4{
        grid-area: c4;
        @include md{
            margin: 50px 0 37px 80px;
            display: grid;
            grid-template-columns: 72% auto;
            column-gap: 22px;
            grid-template-areas: "t4 i5";
        }
        @include lg{
            margin: 60px 0 58px 85px;
            grid-template-columns: 50% auto;
        }
        #section-3-img5{
            background-image: url('../img/section3/mission-5.jpg');
            background-position: -20px -20px;
            background-size: 180%;
            height: 240px;
            width: 240px;
            margin: 30px auto 15px auto;
            @include md{
                width: 100%;
                grid-area: i5;
                height: auto;
                background-position: -100px 0;
                background-size: cover;
                margin: 0;
            }
            @include lg{
                background-position: center;
            }
        }
        #section-3-t4{
            @include md{
                grid-area: t4;
            }
        }
        h2{
            text-align: center;
            margin: 0 10px;
            @include md{

                text-align: left;
                margin: 0;
            }
        }
        p{
            margin: 10px 0 0 0;
            @include lg{
                margin: 20px 0 0 0;
            }
        }
    }
   
}