/* =============
    Section 3
============= */
#section-3 {
    background-color: $cream;

    #section-3-container {
        display: grid;
        grid-template-areas: "c1 c1 c1"
            ". c ."
            ". c4 .";
        grid-template-columns: 3% auto 3%;

        @include md {
            grid-template-areas: "c1 c1 c1"
                ". c ."
                ". c4 c4";
        }

        @include lg {
            grid-gap: 20px;
        }
    }

    #section-3-content1 {
        background-blend-mode: multiply;
        background-color: rgba($greenbrown, $alpha: 0.2);
        background-image: url('../img/section3/hero3.jpg');
        background-position: center;
        background-size: cover;
        grid-area: c1;
        height: auto;
        position: relative;

        @include md {
            background-color: unset;
            background-image: unset;
        }

        .header {
            @include md {
                background-image: url('../img/section3/hero3.jpg');
                background-position: 0 -50px;
                background-size: cover;
                height: 300px;
            }

            @include lg {
                background-position: 0 -90px;
                height: 500px;
            }

            h1 {
                @include xl {
                    grid-area: lg;
                }
            }
        }

        #section-3-intro {
            @include md {
                display: flex;
                justify-content: flex-end;
                margin-right: 3%;
            }

            @include lg {
                display: block;
            }

            @include xl {
                grid-area: lg;
            }

            h2 {
                color: $yellow;
                padding-left: 40px;
                padding-top: 81px;
                width: 60%;

                @include md {
                    bottom: 175px;
                    position: absolute;
                    text-align: right;
                    width: 250px;
                }

                @include lg {
                    bottom: 120px;
                    text-align: left;
                    width: 362px;
                }

                @include xl {
                    padding: 0;
                }

                #let-our {
                    @include lg {
                        color: $cream;
                    }
                }

                #voices {
                    color: $cream;

                    @include lg {
                        color: $yellow;
                    }
                }
            }
        }
    }

    #section-3-intropara {
        @include lg {
            display: flex;
            justify-content: flex-end;
        }

        @include xl {
            grid-area: lg;
        }

        p {
            padding: 20px 15px 30px;
            text-align: right;

            @include md {
                padding: 46px 0 34px 48px;
                text-align: left;
                width: 66%;
            }

            @include lg {
                padding: 54px 40px 62px 0;
                text-align: right;
                width: 522px;
            }

            @include xl {
                padding: 54px 86px 62px 0;
            }
        }
    }

    aside {
        background-position: center;
        background-size: cover;
        height: 165px;

        @include md {
            height: auto;
        }
    }

    .title {
        padding-top: 22px;

        @include md {
            padding: 0;
        }
    }

    .missionbottom {
        @include lg {
            margin-top: 70px;
        }
    }

    #section-3-bigcontent {
        grid-area: c;

        @include lg {
            display: grid;
            grid-template-areas: "c2 c3";
            grid-template-columns: 50% auto;
            margin: auto;
            max-width: 1200px;
        }
    }

    #section-3-content2 {
        grid-area: c2;

        @include md {
            display: grid;
            grid-template-areas: "t2 i1"
                "t2 i2";
            grid-template-columns: 50% auto;
            grid-template-rows: 195px auto;
            row-gap: 22px;
        }

        @include lg {
            column-gap: 20px;
            grid-template-areas: "i1 t2"
                "i2 t2";
            grid-template-rows: 260px auto;
        }

        p {
            @include md {
                margin: 22px 0;
            }
        }

        #section-3-img1 {
            background-image: url('../img/section3/mission-1.jpg');

            @include md {
                grid-area: i1;
            }
        }

        #section-3-img2 {
            background-image: url('../img/section3/mission-3.jpg');
            margin: 20px 0 15px;

            @include md {
                grid-area: i2;
                margin: 0 0 22px 0;
            }

            @include lg {
                margin: 0;
            }
        }

        #section-3-t2 {
            @include md {
                grid-area: t2;
                margin-right: 22px;
                text-align: right;
            }

            @include lg {
                margin-right: 0;
                text-align: left;
            }
        }
    }

    #section-3-content3 {
        grid-area: c3;

        @include md {
            display: grid;
            grid-template-areas: "i3 t3 "
                "i4 t3";
            grid-template-columns: 50% auto;
            grid-template-rows: 216px auto;
            row-gap: 22px;
        }

        @include lg {
            column-gap: 20px;
            grid-template-rows: 310px auto;
        }

        p {
            @include md {
                margin: 22px 0;
            }
        }

        #section-3-img3 {
            background-image: url('../img/section3/mission-2.jpg');

            @include md {
                grid-area: i3;
                margin-right: 22px;
            }

            @include lg {
                margin: 0;
            }
        }

        #section-3-img4 {
            background-image: url('../img/section3/mission-4.jpeg');

            @include md {
                background-position: top;
                grid-area: i4;
                margin-right: 22px;
            }

            @include lg {
                margin: 0;
            }
        }

        #section-3-t3 {
            @include md {
                grid-area: t3;
            }
        }
    }

    #section-3-content4 {
        grid-area: c4;
        margin-bottom: 30px;

        @include md {
            column-gap: 22px;
            display: grid;
            grid-template-areas: "t4 i5";
            grid-template-columns: 72% auto;
            margin: 50px 0 37px 80px;
        }

        @include lg {
            grid-template-columns: 50% auto;
            margin: 60px 0 58px 8%;
        }

        #section-3-img5 {
            background-image: url('../img/section3/mission-5.jpg');
            background-position: -20px -20px;
            background-size: 180%;
            height: 240px;
            margin: 30px auto 15px auto;
            width: 240px;

            @include md {
                background-position: -100px 0;
                background-size: cover;
                grid-area: i5;
                height: auto;
                margin: 0;
                width: auto;
            }

            @include lg {
                background-position: center;
            }
        }

        #section-3-t4 {
            @include md {
                grid-area: t4;
            }
        }

        h2 {
            margin: 0 10px;
            text-align: center;

            @include md {
                margin: 0;
                text-align: left;
            }
        }

        p {
            margin: 10px 0 0 0;

            @include lg {
                margin: 20px 0 0 0;
            }
        }
    }
}