/* =============
    Section 6
============= */
#section-6{
    background-color: $cream;
    #section-6-container{
        display: grid;
        grid-template-columns: 3% auto 3%;
        grid-template-areas:
        "c1 c1 c1"
        ". c2 ."
        ". c3 .";
        @include md{
            grid-template-columns: 10% auto 35% 10%;
            grid-template-areas:
            "c1 c1 c1 c1"
            ". c3 c2 .";
        }
        @include xl{
            grid-area: lg;
        }
        h1{
            @include xl{
                padding-left: 3%;
            }
        }
        #section-6-content2{

            grid-area: c2;
            #email{
                margin: 30px auto 15px;
                width: 156px;
                @include md{
                    margin: 42px 0 29px;
                }
                @include lg{
                    margin: 60px 0 28px;
                }
            }
            #button-container{
                @include md{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            #detail{
                text-align: center;
                margin: 0 80px;
                @include md{
                    text-align: right;
                    margin: 0 0 0 80px;
                }
            }
        }
        #section-6-content3{
            grid-area: c3;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-bottom: 30px;
                @include lg{
                    justify-content: space-between;
                    width: 60%;
                    padding-bottom: 59px;
                }
                li{
                    background-position: center;
                    background-size: cover;
                    border-radius: 100%;
                    height: 140px;
                    width: 140px;
                    @include md{
                        height: 134px;
                        width: 134px;
                    }
                }
                #profile1{
                    background-image: url('../img/section6/portrait-1.jpg');
                    
                }
                #profile2{
                    background-image: url('../img/section6/portrait-2.jpg');
                }
            }
            #report{
                
                @include md{
                    max-width: 350px;
                    margin: 42px 0 28px;
                }
                @include lg{
                    margin: 60px 0 28px;
                    width: 100%;
                    max-width: 550px;
                }
            }
        }

    }
    
    
    #section-6-content1{
        grid-area: c1;
        display: grid;
        background-color: rgba($greenbrown, $alpha: 0.1);
        background-blend-mode: multiply;
        background-image: url('../img/section6/hero6.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        @include md{
            background-color: white;
            background-size: 100%;
            height: 300px;
        }
        @include lg{
            height: 500px;
        }
    }
    .button{
        a:link,
        a:visited {
            text-align: center;
            display: block;
            padding: 12px 20px;
            background-color: $green;
            color: $cream;
            text-decoration: none;
            transition: 0.25s;
        }

        a:hover,
        a:active {
            color: $green;
            background-color: $yellow;
        }
    }
}