/* =============
    Footer
============= */

footer{
    background-image: url('../img/footer/footer.jpg');
    background-position: center;
    height: 333px;
    background-size: 200%;
    background-position: -50px -70px;
    position: relative;
    @include md{
        height: 400px;
        background-position: 0px -80px;
        background-size: cover;
    }
    >div{
        @include xl{
            grid-area: lg;
        }
    }
    #footer-container{

        padding-top: 33px;
        @include md{
            display: grid;
            grid-template-columns: 7% auto 50% 7%;
            grid-template-areas: ". icons tabs .";
        }
       
    }

    #footer-tabs{
        @include md{
            grid-area: tabs;
        }
        li{
            text-align: right;
            margin: 18px;
        }
        
    }
    #footer-icons{
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        @include md{
            position: static;
            grid-area: icons;
            width: unset;
        }
        li{
            font-size: 35px;
            a:link,
            a:visited {
                color: $cream;
                text-decoration: none;
                transition: 0.25s;
            }
    
            a:hover,
            a:active {
                color: $greenbrown;
            }
        }
    }
    #copyright{
        height: auto;
        display: flex;
        justify-content: center;
        h5{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 90px;
        border-right: solid white 1px;
        width: 90%;
        position: absolute;
        bottom: 30px;
        @include md{
            width: 78%;
            height: 150px;
        }
        @include lg{
            height: 170px;
        }
        }
    }
    
}
