/* =============
    Footer
============= */
footer {
    background-blend-mode: soft-light;
    background-color: rgba($earthy, $alpha: 0.2);
    background-image: url('../img/footer/footer.jpg');
    background-position: -50px -70px;
    background-size: 200%;
    height: 333px;
    position: relative;

    @include md {
        background-position: 0px -80px;
        background-size: cover;
        height: 400px;
    }

    @include lg {
        background-position: center;
    }

    >div {
        @include xl {
            grid-area: lg;
        }
    }

    #footer-container {
        padding-top: 33px;

        @include md {
            display: grid;
            grid-template-areas: ". icons tabs ."
                ". cp cp .";
            grid-template-columns: 7% auto 50% 7%;
        }
    }

    #footer-tabs {
        @include md {
            grid-area: tabs;
        }

        li {
            margin: 18px;
            text-align: right;
        }
    }

    #footer-icons {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width: 60%;

        @include md {
            grid-area: icons;
            position: static;
            width: unset;
        }

        li {
            font-size: 35px;

            a:link,
            a:visited {
                color: $cream;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $greenbrown;
            }
        }
    }

    #copyright {
        display: flex;
        justify-content: center;

        h5 {
            align-items: flex-end;
            border-right: solid white 1px;
            display: flex;
            height: 120px;
            justify-content: center;
            margin-right: 5%;
            width: 100%;

            @include md {
                height: 180px;
                margin-right: 2%;
            }

            @include lg {
                height: 170px;
            }
        }

        @include md {
            grid-area: cp;
        }
    }
}