/* =============
    Header
============= */
header {
    background-color: rgba(62, 57, 28, .5);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    
    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            h1{
                font-style: normal;
            }
        }

        #burger-container {
            grid-area: burger;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding: 20px;
            
            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color:rgba(62, 57, 28, .5);
            display: none;
            grid-area: nav;
            padding: 20px;

            @include lg {
                background-color: rgba(62, 57, 28, .5);
                display: block !important;
            }
        }
    }
}