/* =============
    Header
============= */
header {
    z-index: 2;
    background-color: rgba(62, 57, 28, .5);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include md{
        background-color: unset;
    }
    
    img{
        height: 25px;
        @include md{
            height: 30px;
        }
        @include lg{
            height: 40px;
        }
    }
    >div {
        display: grid;
        grid-template-areas: "logo . burger"
            "nav nav nav";
        grid-template-columns: 65% auto 20%;

        @include md {
            grid-template-areas: "logo nav";
            grid-template-columns: 12% auto;
        }
        @include lg {
            grid-template-areas: "logo nav .";
            grid-template-columns: 10% auto 10%;
        }
        
        #logo-container {
            grid-area: logo;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            #title{
                h1{
                    font-style: normal;
                }
                @include md{
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                }
            }
        }

        #burger-container {
            grid-area: burger;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding: 20px;
            
            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color:rgba(62, 57, 28, .5);
            display: none;
            grid-area: nav;
            padding: 20px;

            @include md {
                display: block !important;
                height: 75px;
                padding: 0 15px;
            }
            @include lg{
                width: 705px;
                height: 95px;
                
            }
        }
    }
}