/* =============
    Header
============= */
header {
    background-color: rgba(62, 57, 28, .5);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    @include md {
        background-color: unset;
    }

    img {
        height: 25px;

        @include md {
            height: 30px;
        }

        @include lg {
            height: 40px;
        }
    }

    >div {
        display: grid;
        grid-template-areas: "logo . burger"
            "nav nav nav";
        grid-template-columns: 65% auto 20%;

        @include md {
            grid-template-areas: "logo nav";
            grid-template-columns: 12% auto;
        }

        @include lg {
            grid-template-areas: "logo nav .";
            grid-template-columns: 10% auto 10%;
        }

        #logo-container {
            align-items: center;
            display: flex;
            grid-area: logo;
            justify-content: space-evenly;
            width: 80%;

            @include md {
                display: unset;
            }

            img {
                @include md {
                    margin: 25px;
                }
            }

            #title {
                h1 {
                    font-style: normal;
                }

                @include md {
                    margin-left: 38px;
                    text-orientation: mixed;
                    writing-mode: vertical-rl;
                }

                @include lg {
                    margin-left: 45px;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 20px;

            @include md {
                display: none !important;
            }

            i {
                color: $cream;
                cursor: pointer;
                font-size: rem-calc(25);
            }
        }

        #nav-container {
            background-color: rgba(62, 57, 28, .5);
            display: none;
            grid-area: nav;
            padding: 20px;

            @include md {
                display: block !important;
                height: 75px;
                margin-top: 0;
                padding: 0 15px;
            }

            @include lg {
                height: 95px;
                width: 705px;
            }
        }
    }
}